/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  margin: 0;
}

button {
  font-family: var(--sans-serif);
}

@media (--breakpoint-medium)
{
  .medium-article-image{
    max-width: 16rem;
  }
}

.hkMain {
  background: url("./assets/mainHkImage.png");
   background-position: center;
   background-repeat: no-repeat;
}

.designMain {
  background: url("./assets/mainDesignImage.png");
   background-position: center;
   background-repeat: no-repeat;
}

#container {
  -webkit-overflow-scrolling: touch;
 }
